.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-bottom: 25px;
  overflow: hidden;
  width: 75%;
  background-color: lightgrey;
}

.header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: lightgrey;
  margin-bottom: 10px;
}

.header-item{
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  flex-grow: 0;
}

.header-content{
  padding: 10px;
  background-color: white;
  align-content: center;
}

.admin-status-select {
  width: 10px;
}


