
.profile-banner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 24px;
  color: rgb(45, 45, 45);
}
hr {
  height: 1px;
  background-color: rgb(45, 45, 45);
  margin-left: 24px;
  margin-right: 24px;
  width: 1000px;
}
.name-card {
  background-color: rgb(175, 175, 175);
  margin-left: 24px;
  width: 1000px;
}
.contact-details-card {
  outline: auto;
  outline-color: rgb(175, 175, 175);
  margin-left: 24px;
  width: 1000px;
}
.addresses-card {
  outline: auto;
  outline-color: rgb(175, 175, 175);
  margin-left: 24px;
  width: 1000px;
}
.creditcards-card {
  outline: auto;
  outline-color: rgb(175, 175, 175);
  margin-left: 24px;
  width: 1000px;
}
.address-subtitle {
  margin-left: 15px;
}
.card-title {
  font: arial;
  font-size: x-large;
}
.input-field {
  margin: 10px;
  width: 200px;
}